<section class="centre">
    <div class="sidebyside">
        <table>
            <tr>
                <td style="background-color: #071D57; padding: 4px;">
                    <table class="boggle">
                        <tr ng-repeat="matrixRow in playCtrl.matrix">
                            <td ng-repeat="die in matrixRow" class="boggle">
                                <div class="dicebase noselect" ng-style="die.style" ng-click="playCtrl.click(die)" ng-class="{dieselected: die.selected}">
                                    {{die.letter}}<span ng-show="die.isQ()" class="dicebase noselect" ng-style="playCtrl.uStyle">u</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="sidebyside">
        <div class="panel panel-default" style="width: 270px; margin-bottom: 5px; padding-left: 5px;" ng-click="playCtrl.addWord()">
            <h3>{{playCtrl.getFormingWord()}}_</h3>
            <div style="width: 270px; height: 270px; overflow-y: auto;">
                <p ng-repeat="word in playCtrl.wordList">{{word}}</p>
            </div>
        </div>
        <div class="progress" style="width: 270px;">
            <div class="progress-bar" style="width: {{playCtrl.gameProgress}}%;">
                <span class="sr-only">{{playCtrl.gameProgress}}% Complete</span>
            </div>
        </div>
    </div>
</section>