<section class="playspace">
    <div class="play-title">
        <h1 class="centred-title spaced">Championship BOGGLE 2015</h1>
    </div>
    <div class="play-panel-a">
        <table>
            <tr>
                <td class="background">
                    <table class="boggle">
                        <tr ng-repeat="matrixRow in playCtrl.matrix">
                            <td ng-repeat="die in matrixRow" class="boggle">
                                <div class="dicebase noselect" ng-style="die.style" ng-click="playCtrl.click(die)" ng-class="{dieselected: die.selected}">
                                    {{die.letter}}<span ng-show="die.isQ()" class="dicebase noselect die-little-u">u</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="play-panel-b">
        <div class="word-list-wrapper">
            <div class="panel panel-default word-list" ng-click="playCtrl.addWord()">
                <h4>{{playCtrl.getFormingWord()}}_</h4>
                <div class="entered-words">
                    <p ng-repeat="word in playCtrl.wordList">{{word}}</p>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: {{playCtrl.gameProgress}}%;">
                    <span class="sr-only">{{playCtrl.gameProgress}}% Complete</span>
                </div>
            </div>
        </div>
    </div>
</section>
