/*
 * In-play styles
 */
div.dicebase {
    display: block;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;/*"Lucida Console", Monaco, monospace;*/
    font-weight: bolder;
    color: #2892A0;
    margin: 3px;
}
span.dicebase {
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;/*"Lucida Console", Monaco, monospace;*/
    font-weight: bolder;
    color: #2892A0;
}
table.boggle {
    border-collapse: collapse;
}
table.boggle, td.boggle {
    border: 4px solid #22689D;
    background-color: #071D57;
}
.dicebase.dieselected {
    /*color: #3BE4FA;*/
    -webkit-filter: saturate(3);
    filter: saturate(30%);
}
.sidebyside {
    float: left;
    margin: 5px;
}
.centre {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 * Styles for the Login page
 */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
div.error-message {
    color: #FA787E;
    padding-bottom: 8px;
}
div.play-some-boggle {
    padding-bottom: 20px;
}


/*
 * Results page
 */
td.rushjob {
    font-family: "Courier New", Courier, monospace;
    padding-right: 5px;
}
td.scores {
    padding-right: 7px;
}