<h2 class="centred-title">Championship</h2>
<h1 class="centred-title">BOGGLE</h1>
<h3 class="centred-title bottom-spaced">2015</h3>

<p class="text-center" ng-show="titleCtrl.isLoggedIn()">
    Player: {{titleCtrl.capitalisePlayer()}}<p>

<div ng-hide="titleCtrl.isLoggedIn()">
    <div class="btn btn-default btn-centred" ng-click="titleCtrl.showSignOnBoggle()">
        Player Login</div><br>
    <div class="btn btn-default btn-centred" ng-click="titleCtrl.guestStartGame()">
        Start Solo Game</div><br>
</div>
<div ng-show="titleCtrl.isLoggedIn()">
    <div class="btn btn-default btn-centred" ng-click="titleCtrl.startGame()">
        Start Competitive Game</div><br>
    <div class="btn btn-default btn-centred" ng-click="titleCtrl.guestStartGame()">
        Start Solo Game</div><br>
    <div class="btn btn-default btn-centred" ng-click="titleCtrl.signOut()">
        Sign Out</div><br>
</div>
